
body 
{
  background-color: transparent !important;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}
  
html{
    background-color: rgb(193, 193, 193);;
    /* overflow: hidden ; */
}

.layout-container 
{
    /* display: flex;
    flex-direction: column;
    */
    
    /* height: 100px; */
    /* overflow-y: scroll; */
}


.layout-body {
    /* overflow-y: scroll !important; */
    /* height: fit-content; */
    /* max-height: 600px; */
    min-height: 700px;
    /* flex-grow: 1; */
    /* Đặt giá trị min-height mong muốn */
    /* min-height: 50vh;  */
    /* padding: 20px; Thêm padding để tránh nội dung bị giữ chật vào mép */
}