
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}
  
.layout-container {
display: flex;
flex-direction: column;
height: 100vh;
}


.layout-body {
flex-grow: 1;
min-height: 70vh; /* Đặt giá trị min-height mong muốn */
padding: 20px; /* Thêm padding để tránh nội dung bị giữ chật vào mép */
}