.table {
    display: table;
    width: 100%;
    background-color: rgb(172, 223, 223);
  }
  
  .row {
    display: table-row;
  }
  
  .row img{
    width: 60px;
    border-radius: 50px;
  }
  
  .cell {
    display: table-cell;
    padding: 10px;
    /* border: 1px solid black; */
  }
   /* .stt{
    width: 20px;
  } */
  .header .cell {
    font-weight: bold;
  }
  